body {
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0.39, #2C3739),
  	color-stop(1, #000000)
  );
  background-image: -o-linear-gradient(bottom, #2C3739 39%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #2C3739 39%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #2C3739 39%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #2C3739 39%, #000000 100%);
  background-image: linear-gradient(to bottom, #2C3739 39%, #000000 100%);
}
div.login_wrapper_popup {
  position:fixed;
  left:50%;
  top:36%;
}
div.login_wrapper_popup div.login_wrapper {
  position:relative;
  left:-50%;
  cursor:pointer;
}
div.login_wrapper_popup div.login_wrapper div.login_text {
  left:5px;
  position:relative;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 11pt;
}